<template>
  <div class="col-3 side-menu">
    <img class="main-icon" src="./assets/library_music.png" width="200px" height="200px;">

    <sideMenu text="All songs"/>
    <sideMenu text="Upload Music" data-bs-toggle="modal" data-bs-target="#uploadMusic"/>
    <sideMenu text="Create Playlist" data-bs-toggle="modal" data-bs-target="#createPlaylist"/>
     
  </div>
</template>

<script>

import sideMenu from './components/sideMenu.vue'

export default{
  name: 'App',
  components:{
    sideMenu
  }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
} */

body {
  font-family: 'Poppins', sans-serif;
}

.main-icon{
  margin-left: 50px; 
  margin-top: 30px;
}

.side-menu{
  background-color: #E89090;
  min-width: 210px;
  min-height: 850px;
}

img{
  margin-bottom: 100px;
}
</style>
