<template>
    <div class="col-9 pt-5 pl-4">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control form-control-lg mr-sm-3 col-8" 
            type="search">

            <searchButtons text="Title"/>
            <searchButtons text="Artist"/>
            <searchButtons text="Album"/>

        </form>

            <tableSongs />

            <musicPlayed />
    </div>
</template>

<script>
import searchButtons from './components/searchButtons.vue'
import tableSongs from './components/tableSongs.vue'
import musicPlayed from './components/musicPlayed.vue'

export default {
    name: 'App2',
    components:{
        searchButtons,
        tableSongs,
        musicPlayed,
    }
}

</script>

<style scoped>
input{
height: 40px; 
border: 1px solid; 
padding: 10px; 
box-shadow: 1px 2px 5px #888888;

}


</style>