<template>
    <div class="col-12 mt-5 pt-3 text-center" >
        <h3 class="text-white">In the end</h3>
        <h6 class="text-white">Linkin Park</h6>
                                   
    </div>
</template>

<script>
export default {
    name:'currentMusic',
}
</script>