<template>
    <div class="col-12 justify-content-center d-flex">
        <img class="music-icons" src="icons/prev_plan@4x - Copy.png">
        <img class="music-icons" src="icons/fast_rewind@4x.png">
        <img class="music-icons" src="icons/play_circle_filled@4x.png">
        <img class="music-icons" src="icons/fast_forward@4x.png">
        <img class="music-icons" src="icons/next_plan@4x.png">
    </div>
</template>

<script>
export default {
    name:'musicControls',
}
</script>