<template>
    <div class="progress col-11" style="background-color: transparent;">
        <div class="played">
            <div class="circle"></div>
        </div>

     </div>
</template>

<script>
export default {
    name: 'musicProgress',
}
</script>