<template>
    <div class="container col-10" style="background-color: #9B7575;">

        <currentMusic />

        <p class="text-white ml-5">0:12</p> 
        <p class="text-white mr-5" style="text-align: right; margin-top: -45px;">3:37</p>

        <musicProgress />

        <musicControls />
        
    </div>
</template>

<script>
import currentMusic from './currentMusic.vue'
import musicProgress from './musicProgress.vue'
import musicControls from './musicControls.vue'

export default {
    name:'musicPlayed',
    components:{
        currentMusic,
        musicProgress,
        musicControls
    }
}
</script>