<template>
    <form>
        <button class="btn-search ml-1 mx-1" style="font-size: x-large;">{{text}}</button>
    </form>
</template>

<script>

export default {
    name: 'searchButtons',
    props:{
        text: String,
    }
}
</script>