<template>
    <div class="row">
         <button class="btn menu-btn mt-2"><h4>{{text}}</h4></button><br>
    </div>
</template>

<script>
export default {
    name: 'sideMenu',
    props:{
        text: String,
    }
}
</script>

<style scoped>
.menu-btn{
    padding: 12px;
}
.menu-btn:focus{
    border-color: plum;
}
</style>