<template>
    <div class="col-12 pt-5">
        <h3>All Songs</h3>
            <table class="mt-4 ml-4">
                <thead>
                    <tr>
                        <th>  </th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img class="play-icon" src="icons/equalizer.png"> </td>
                        <td>In the end</td>
                        <td>Linkin Park</td>
                        <td>Hybrid Theory</td>
                        <td> 3:37 </td>
                    </tr>
                    <tr>
                        <td><img class="play-icon"  src="icons/play_arrow.png"></td>
                        <td>Sold out</td>
                        <td>Hawk Nelson</td>
                        <td>Diamonds</td>
                        <td>3:44</td>
                    </tr>
                    <tr>
                        <td><img class="play-icon"  src="icons/play_arrow.png"></td>
                        <td>Takaneno Hanako</td>
                        <td>Back number</td>
                        <td>Love Story</td>
                        <td>4:59</td>
                    </tr>
                    <tr>
                        <td><img class="play-icon"  src="icons/play_arrow.png"></td>
                        <td>Sakuramitsutsuki</td>
                        <td>Spyair</td>
                        <td>Imagination</td>
                        <td>3:35</td>
                    </tr>
                    <tr>
                        <td><img class="play-icon"  src="icons/play_arrow.png"></td>
                        <td>Faded</td>
                        <td>Alan Walker</td>
                        <td>Faded</td>
                        <td>3:32</td>
                    </tr>
                    <tr>
                        <td><img class="play-icon"  src="icons/play_arrow.png"></td>
                        <td>Chiisa no koi no uta</td>
                        <td>Amatsuki</td>
                        <td>No Album</td>
                        <td>4:39</td>
                    </tr>
                    </tbody>
                </table>

            </div>
</template>

<script>
export default {
    name: 'tableSongs',
}
</script>
